# Node modules
node_modules/

# Build output
build/
dist/

# Logs
*.log

# Environment variables
.env

# React Native specific
ios/Pods/
ios/*.xcodeproj/
ios/*.xcworkspace/
android/.gradle/
android/app/build/
